
body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:black;
  color:white;
  text-align:center;
  overflow-x:hidden;
}

section{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:40px;
}

h1{font-size:3em;margin-bottom:20px;}
p{font-size:1.3em;max-width:750px;line-height:1.6;}

button{
  padding:14px 35px;
  font-size:16px;
  border:none;
  border-radius:40px;
  background:#ff4b7d;
  color:white;
  cursor:pointer;
  margin-top:25px;
  transition:0.3s;
  box-shadow:0 0 25px rgba(255,75,125,0.9);
}
button:hover{transform:scale(1.1);}

img{
  width:230px;
  margin:12px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(255,75,125,0.6);
}

.heart,.petal,.firework{
  position:fixed;
  pointer-events:none;
}

.heart{
  color:#ff4b7d;
  animation:float 6s linear infinite;
}

@keyframes float{
  0%{transform:translateY(100vh);opacity:1;}
  100%{transform:translateY(-10vh);opacity:0;}
}

.petal{
  color:#ff99aa;
  animation:fall 8s linear infinite;
}

@keyframes fall{
  0%{transform:translateY(-10vh) rotate(0deg);opacity:1;}
  100%{transform:translateY(110vh) rotate(360deg);opacity:0;}
}

.firework{
  font-size:30px;
  animation:explode 1s ease-out forwards;
}

@keyframes explode{
  from{transform:scale(0);opacity:1;}
  to{transform:scale(2);opacity:0;}
}
